.about{
    position: relative;
    &__top{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 670px;
        margin-left: auto;
        margin-bottom: 120px;
        margin-right: -110px;
        @include media(1440){
            width: 660px;
        }
    }
    &__title{
        width: 100%;
        text-align: left; 
    } 
    &__p{
        font-weight: 300;
        font-size: 20px;
        line-height: 177%;
        color: #FFFFFF;
    }
    &__bot{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &-left{
            display: flex;
            flex-direction: column;
        }
    }
    &__label{
        font-weight: 500;
        font-size: 24px;
        line-height: 103.5%;
        color: #FFFFFF;        
        margin-bottom: 30px;
    }
    &__counter{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 600;
        font-size: 220px;
        line-height: 103.5%;
        margin-left: -90px;
        text-align: right;
        height: 227px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: linear-gradient(155.88deg, #FFA761 -83.36%, #C7825B 184.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    &__img{
        display: none;
        line-height: 0;
        overflow: hidden;
        margin-bottom: -240px;
        @include media(1440){
            max-width: 710px;
            border-radius: 20px 0 0 20px;
            position: absolute;
            bottom: 0;
            right: 0;
            display: block;
        }
        &.disable-uxl{
            display: block;
            margin-right: -110px;
            width: calc(50% + 110px);
            border-radius: 20px;
            @include media(1440){
                display: none;
            }
        }
        img{
            width: 100%;
        }
    }
}