.about{
    position: relative;
    scroll-margin: 40px;
    &__top{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 670px;
        margin-left: auto;
        margin-bottom: 120px;
        margin-right: -110px;
        @include media(1440){
            max-width: 660px;
            width: 100%;
        }
        @include media(1400){
            margin-right: auto;
            margin-left: auto;
            align-items: center;
            justify-content: center;
            margin-bottom: 80px;
        }
        @include media(576){
            margin-bottom: 20px;
        }
    }
    &__title{
        width: 100%;
        text-align: left; 
        @include media(1400){
            text-align: center;
        }
    } 
    &__p{
        font-weight: 300;
        font-size: 20px;
        line-height: 177%;
        color: #FFFFFF;
        @include media(1400){
            text-align: center;
        }
        @include media(576){
            font-size: 16px;
            font-weight: 200;
            overflow: hidden;
            width:100%;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
    &__bot{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include media(992){
            align-items: center;
            justify-content: center;
        }
        &-left{
            display: flex;
            flex-direction: column;
            @include media(992){
                align-items: flex-start;
                max-width: 375px;
                width: 100%;
            }
            @include media(576){
                max-width: 289px;
                flex-direction: column-reverse;
            }
        }
    }
    &__label{
        font-weight: 500;
        font-size: 24px;
        line-height: 103.5%;
        color: #FFFFFF;        
        margin-bottom: 30px;
        opacity: 0;
        transform: translateX(-100px);
        transition: 300ms ease-in-out;
        @include media(1400){
            margin-left: 50px;
        }
        @include media(1200){
            margin-bottom: 0;
        }
        @include media(992){
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        @include media(576){
            font-size: 16px;
            line-height: 103.5%;
            margin-top: 5px;
        }
    }
    &__counter{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 600;
        font-size: 220px;
        line-height: 103.5%;
        margin-left: -90px;
        text-align: right;
        height: 227px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: linear-gradient(155.88deg, #FFA761 -83.36%, #C7825B 184.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        @include media(1400){
            margin-left: 0;
            font-size: 190px;
            line-height: 120%;
        }
        @include media(1200){
            font-size: 150px;
            height: 185px;
        }
        @include media(576){
            font-size: 116px;
            height: 140px;
        }
        .typeit{
            height: 100%;
        }
    }
    &__img{
        display: none;
        line-height: 0;
        overflow: hidden;
        margin-bottom: -240px;
        @include media(1440){
            max-width: 710px;
            border-radius: 20px 0 0 20px;
            position: absolute;
            bottom: 0;
            right: 0;
            display: block;
        }
        @include media(1400){
            max-width: 600px;
            bottom: 130px;
        }
        @include media(1200){
            max-width: 500px;
            bottom: 125px;
        }
        @include media(992){
            position: static;
            display: block;
            width: calc(100% - 30px);
            margin: 20px auto 0 auto;
            border-radius: 20px;
        }
        @include media(576){
            border-radius: 12px;
        }
        &.disable-uxl{
            display: block;
            margin-right: -110px;
            width: calc(50% + 110px);
            border-radius: 20px;
            @include media(1440){
                display: none;
            }
        }
        img{
            width: 100%;
        }
    }
}