.floor{
    padding-top: 195px;
    @include media(992){
        padding-top: 0; 
    }
    &__title{
        font-weight: 500;
        font-size: 50px;
        line-height: 63px;
        text-align: center;
        color: #000000;
        margin-bottom: 30px;
        @include media(992){
            font-weight: 500;
            margin-bottom: 25px;
            font-size: 28px;
            line-height: 34px;
        }
    }
    &__content{
        display: none;
        position: relative;
        &>*{
            opacity: 0;
            visibility: hidden;
            transition: opacity 300ms ease-out, visibility 300ms ease-out;
        }
        &.active{
            display: block;
            &>*{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__navigation{
        position: absolute;
        width: 650px;
        z-index: 5;
        top: 50%;
        transform: translateY(-50%);
        left: -45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        pointer-events: none;
        @include media(1200){
            width: 566px;
        }
        @include media(992){
            transform: translateY(0);
            top: 250px;
            width: calc(100% + 90px);
        }
        .swiper-button{
            &-prev{
                pointer-events: all;
                svg{
                    transition: 300ms ease-out;
                    &:active{
                        path{
                            stroke: #C7825B;    
                        }
                    }
                    &:hover{
                        path{
                            stroke: #FFA761;
                        }
                    }
                    path{
                        transition: 300ms ease-out;
                        stroke: #000;
                    }
                } 
                &.swiper-button-disabled{
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                }
            }
            &-next{
                pointer-events: all;
                svg{
                    transition: 300ms ease-out;
                    &:active{
                        path{
                            stroke: #C7825B;
                        }
                    }
                    &:hover{
                        path{
                            stroke: #FFA761;
                        }
                    }
                    path{
                        transition: 300ms ease-out;
                        stroke: #000;
                    }
                } 
                &.swiper-button-disabled{
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                }
            }
        }
    }
    .swiper{
        width: 100%;
        overflow: hidden;
        &-slide{
            user-select: none;
            pointer-events: none;
            &>*{
                opacity: 0;
                visibility: hidden;
                transition: opacity 600ms ease, visibility 600ms ease;
            }
            &-active{
                pointer-events: all;
                z-index: 2;
                &>*{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &-wrapper{
            display: flex;
            width: max-content;
        }
    }
    &__tab{
        display: flex;
        justify-content: center;
        gap: 28px;
        margin-bottom: 50px;
        @include media(768){
            gap: 7px;
            margin-bottom: 25px;
        }
        &-item{
            padding: 8px 22px;
            font-weight: 400;
            font-size: 16.426px;
            line-height: 20px;
            border: 1px solid #1D1C1C;
            border-radius: 5px;
            text-align: center;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media(768){
                padding: 6px 14px;
                border-radius: 9px;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
            }
            &.active{
                background: #E3945E;
                color: #FFFFFF;
                border-color: #E3945E;
            }
        }
    }
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 120px;
        @include media(992){
            flex-direction: column;
            align-items: center;
            gap: 50px;
            justify-content: flex-start;
            height: max-content;
        }
        @include media(768){
            gap: 25px;
        }
        &-title{
            font-weight: 500;
            font-size: 46.4421px;
            line-height: 95.2%;
            margin-bottom: 55px;
            text-transform: uppercase;
            color: #000000;            
        }
        &-img{
            position: relative;
            max-width: 580px;
            width: 100%;
            height: max-content;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                max-width: 100%;    
                height: 100%;
            }
        }
        &-info{
            display: flex;
            flex-direction: column;
            gap: 15px;
            min-width: 330px;
            @include media(992){
                align-items: center;
                gap: 5px;
            }
            &-row{
                display: flex;
                flex-direction: column;
                gap: 15px;
                margin-bottom: 35px;
                @include media(992){
                    align-items: center;
                    margin-bottom: 30px;
                }
                @include media(768){
                    margin-bottom: 20px;
                }
            }
            &-p{
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;
                text-transform: uppercase;
                color: #000000;
                @include media(992){
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                }
                span{
                    font-weight: 700;
                }
            }
        }
        &-label{
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            color: rgba(0, 0, 0, 0.6);
            @include media(992){
                font-weight: 500;
                font-size: 12px;
                line-height: 100%;
            }
        }
        &-btn{
            @include media(992){
                max-width: 300px;
                width: 100%;
            }
        }
    }
}