.floor{
    padding-top: 195px;
    &__title{
        font-weight: 500;
        font-size: 50px;
        line-height: 63px;
        text-align: center;
        color: #000000;
        margin-bottom: 50px;
    }
    &__content{
        display: none;
        position: relative;
        &>*{
            opacity: 0;
            visibility: hidden;
            transition: opacity 300ms ease-out, visibility 300ms ease-out;
        }
        &.active{
            display: block;
            &>*{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .swiper{
        width: 100%;
        overflow: hidden;
        &-slide{
            pointer-events: none;
            &>*{
                opacity: 0;
                visibility: hidden;
                transition: opacity 600ms ease, visibility 600ms ease;
            }
            &-active{
                pointer-events: all;
                z-index: 2;
                &>*{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &-wrapper{
            display: flex;
            width: max-content;
        }
    }
    &__tab{
        display: flex;
        justify-content: center;
        gap: 28px;
        margin-bottom: 50px;
        &-item{
            padding: 8px 22px;
            font-weight: 400;
            font-size: 16.426px;
            line-height: 20px;
            border: 1px solid #1D1C1C;
            border-radius: 5px;
            text-align: center;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
            &.active{
                background: #E3945E;
                color: #FFFFFF;
                border-color: #E3945E;
            }
        }
    }
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 120px;
        &-title{
            font-weight: 500;
            font-size: 46.4421px;
            line-height: 95.2%;
            margin-bottom: 55px;
            text-transform: uppercase;
            color: #000000;            
        }
        &-img{
            position: relative;
            max-width: 667px;
            width: 100%;
            img{
                width: 100%;
            }
        }
        &-info{
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 50px;
            min-width: 330px;
            &-p{
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;
                text-transform: uppercase;
                color: #000000;
                span{
                    font-weight: 700;
                }
            }
            &-btn{
                margin-bottom: 25px;
            }
            &-label{
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}