.intro{
    min-height: 100vh;
    display: flex;
    align-items: stretch;
    justify-content: center;
    isolation: isolate;
    position: relative;
    padding-top: 0;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(354.91deg, #1D1C1C 14.03%, rgba(29, 28, 28, 0) 110.45%);
        z-index: -1;
    }
    &__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0;
    }
    &__title{
        font-weight: 600;
        font-size: 90px;
        line-height: 110px;
        text-align: center;
        letter-spacing: 0.15em;
        color: #FFFFFF;
    }
    &__p{
        font-weight: 300;
        font-size: 24px;
        line-height: 113%;
        color: #FFFFFF;
        margin-bottom: 40px;
        text-align: center;
    }
    &__btn{
        background: linear-gradient(155.88deg, #FFA761 -83.36%, #C7825B 184.44%);
        border-radius: 5px;
        max-width: 300px;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}