.location{
    margin-bottom: -420px;
    position: relative;
    @include media(992){
        margin-bottom: 0;
        background: #fff;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 587px;
        background: #fff;
        z-index: -1;
        @include media(992){
            display: none;
        }
    }
    &__title{
        position: relative;
        z-index: 4;
        color: #1D1C1C;
        @include media(992){
            text-align: center;
        }
    }
    &__wrap{
        position: relative;
        height: 590px;
        border-radius: 20px;
        @include media(992){
            border-radius: 45px;
            &::before{
                content: '';
                // position: absolute;
                // top: 0;
                // z-index: 3;
                // left: 0;
                // width: 100%;
                // height: 120px;
                // background: linear-gradient(354.91deg, #FFFFFF 12.5%, rgba(255, 255, 255, 0) 89.01%);
                // transform: matrix(1, 0, 0, -1, 0, 0);
            }
        }
    }
    &__link{
        position: absolute;
        bottom: 50px;
        right: 50px;
        box-shadow: 0px 13.5484px 30px rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        line-height: 0;
        z-index: 5;
        @include media(992){
            bottom: 30px;
            right: 30px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    &__tab{
        position: absolute;
        top: 40px;
        left: 50%;
        z-index: 5;
        display: flex;
        justify-content: center;
        gap: 10px;
        transform: translateX(-50%);
        background: #FFFFFF;
        box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        padding: 7.5px;
        @include media(992){
            display: none;
        }
        &.sm{
            display: none;
            @include media(992){
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 7px;
                background: transparent;
                padding: 0;
                position: static;
                box-shadow: none;
                transform: translateX(0);
                padding-top: 10px;
            }
        }
        &-item{
            width: 235px;
            height: 40px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 18px;
            line-height: 96.5%;
            color: #000000;
            position: relative;
            isolation: isolate;
            overflow: hidden;
            transition: 300ms ease-out;
            @include media(992){
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: #00000010;
            }
            &::before{
                content: '';
                transition: 300ms ease-out;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: linear-gradient(155.88deg, #FFA761 -83.36%, #C7825B 184.44%), #E3E3E3;
                @include media(992){
                    display: none;
                }
            }
            &.active{
                color: #FFFFFF;
                @include media(992){
                    background: #E3945E;
                }
                &::before{
                    opacity: 1;
                    visibility: visible;
                }
            }            
        }
    }
    &__maps{
        overflow: hidden;
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        @include media(992){
            border-radius: 45px;
        }
    }
    &__navigation{
        display: none;
        @include media(992){
            display: flex;
            width: calc(100% + 70px);
            align-items: center;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -35px;
        }
        &-left{
            svg{
                transform: rotate(180deg);
            }
        }
        &-right{
            margin-left: auto;
        }
        &-btn{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(0deg, #E3945E, #E3945E), #FFFFFF;
            border: 5px solid #fff;
            transition: 300ms ease;
            &.active{
                opacity: 0;
                visibility: hidden;
            }
        }
    }
    &__map{
        display: none;
        height: 100%;
        width: 100%;
        line-height: 0;
        border-radius: 20px;
        overflow: hidden;
        @include media(992){
            border-radius: 45px;
        }
        @include media(768){
            overflow-x: scroll;
            overflow-y: hidden;
        }
        img{
            line-height: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: bottom;
            @include media(768){
                width: max-content;
            }
        }
        &.active{
            display: block;
        }
        &-wrap{
            position: relative;
        }
        &-tab{
            position: absolute;
            top: 50%;
            left: 48px;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 30px;
            @include media(992){
                display: none;
            }
            &-item{
                font-weight: 300;
                font-size: 20px;
                line-height: 96.5%;
                background: #FFFFFF;
                border-radius: 10px;
                text-transform: capitalize;
                color: #1D1C1C;
                padding: 10px;
                position: relative;
                isolation: isolate;
                overflow: hidden;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                &.active{
                    color: #fff;
                    &::before{
                        opacity: 1;
                        visibility: visible;
                    }
                }
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: 300ms ease-out;
                    opacity: 0;
                    visibility: hidden;
                    z-index: -1;
                    background: linear-gradient(155.88deg, #FFA761 -83.36%, #C7825B 184.44%), #FFFFFF;
                }
            }
        }
        &-item{
            height: 100%;
            width: 100%;
            display: none;
            &.active{
                display: block;
            }
        }
    }
    &__info{
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media(992){
            padding-top: 50px;
            padding-bottom: 50px;
            flex-direction: column;
        }
        &-item{
            display: flex;
            flex-direction: column;
            gap: 6px;
            align-items: center;
            &:nth-child(2){
                padding: 0 110px;
                position: relative;
                @include media(1200){
                    padding: 0px 26px;
                }
                @include media(992){
                    padding: 30px 0;
                }
                &::before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    width: 75px;
                    -webkit-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                    left: 20px;
                    height: 0;
                    border: 1px solid;
                    border-image-slice: 1;
                    border-image-source: radial-gradient(46.51% 343999.97% at 50% .01%,#fff 0,rgba(255,255,255,0) 66.77%);
                    @include media(1200){
                        left: -25px;
                    }
                    @include media(992){
                        display: none;
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    width: 75px;
                    -webkit-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                    right: 20px;
                    height: 0;
                    border: 1px solid;
                    border-image-slice: 1;
                    border-image-source: radial-gradient(46.51% 343999.97% at 50% .01%,#fff 0,rgba(255,255,255,0) 66.77%);
                    @include media(1200){
                        right: -25px;
                    }
                    @include media(992){
                        display: none;
                    }
                }
            }
        }
        &-title{
            font-weight: 700;
            font-size: 56px;
            line-height: 96.5%;
            background: linear-gradient(155.88deg, #FFA761 -83.36%, #C7825B 184.44%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            @include media(992){
                margin-bottom: 22px;
                font-weight: 700;
                font-size: 36px;
                line-height: 96.5%;
                span{
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 96.5%;
                }
            }
        }
        &-text{
            font-weight: 500;
            font-size: 20px;
            line-height: 96.5%;
            color: #FFFFFF;
            @include media(992){
                color: #1D1C1C;
                font-weight: 500;
                font-size: 16px;
                line-height: 96.5%;
            }
        }
    }
}