mixin about()
    section.section.about#about
        .about__body.section__body.container
            .section__title 
                img(src="@img/about-title.png", alt="" draggable="false") 
            .about__top
                h2.about__title.title About
                p.about__p Serene and peaceful neighborhood in one of the <br>most prestigious communities -  Dubai Hills Estate, combined with high-class amenities form the uniqueness of this multiple storey residential complex. 
            .about__bot
                .about__bot-left
                    p.about__label Residential units 
                    .about__counter 
                        .typeit(data-text="470+") 
                        <span class="type-cursor">&nbsp;</span>
                .about__img.about__img_sm.disable-uxl 
                    img(src="@img/about.png", alt="" draggable="false")
        .about__img.about__img_lg 
            img(src="@img/about.png", alt="" draggable="false")
            