mixin community()
    section.section.community
        .section__body.community__body.container#community 
            .section__title 
                img(src="@img/community-title.png", alt="" draggable="false")
            .community__header
                h2.title.community__title About <span>Dubai Hills</span> Estate
                p.community__p Elite location, which gives access to luscious landscaped greens and pristine fairways with an iconic backdrop of the Burj Khalifa and the Dubai skyline. The 2700-acre multi-purpose development includes high-class amenities and infrastructure such as schools, hospitals, parks, malls and even 18-hole Championship golf course. Live in a sophisticated address that inspires peak performance on a daily basis. 
            .community__row.first.community__row_left
                .community__track 
                    .community__item 
                        .community__item-img
                            img(src="@img/community-1.png", alt="" draggable="false" data-kg="" data-kg-group="gallery")
                    .community__item 
                        .community__item-img
                            img(src="@img/community-2.png", alt="" draggable="false" data-kg="" data-kg-group="gallery")
                    .community__item 
                        .community__item-img
                            img(src="@img/community-3.png", alt="" draggable="false" data-kg="" data-kg-group="gallery")
                    .community__item 
                        .community__item-img
                            img(src="@img/community-1.png", alt="" draggable="false" data-kg="" data-kg-group="gallery")
                    .community__item 
                        .community__item-img
                            img(src="@img/community-2.png", alt="" draggable="false" data-kg="" data-kg-group="gallery")
                    .community__item 
                        .community__item-img
                            img(src="@img/community-3.png", alt="" draggable="false" data-kg="" data-kg-group="gallery")
            .community__row.community__row_right 
                .community__track 
                    .community__item 
                        .community__item-img 
                            img(src="@img/community-4.png", alt="" draggable="false"  data-kg="" data-kg-group="gallery")
                    .community__item 
                        .community__item-img 
                            img(src="@img/community-5.png", alt="" draggable="false"  data-kg="" data-kg-group="gallery")
                    .community__item 
                        .community__item-img 
                            img(src="@img/community-6.png", alt="" draggable="false"  data-kg="" data-kg-group="gallery")
                    .community__item 
                        .community__item-img 
                            img(src="@img/community-4.png", alt="" draggable="false"  data-kg="" data-kg-group="gallery")
                    .community__item 
                        .community__item-img 
                            img(src="@img/community-5.png", alt="" draggable="false"  data-kg="" data-kg-group="gallery")
                    .community__item 
                        .community__item-img 
                            img(src="@img/community-6.png", alt="" draggable="false"  data-kg="" data-kg-group="gallery")
            .community__slider
                .swiper.community__swiper
                    .swiper-wrapper 
                        .swiper-slide.community__slide 
                            img(src="@img/community-1.png", alt="" draggable="false"  data-kg="" data-kg-group="gallery2")
                        .swiper-slide.community__slide 
                            img(src="@img/community-2.png", alt="" draggable="false"  data-kg="" data-kg-group="gallery2")
                        .swiper-slide.community__slide 
                            img(src="@img/community-3.png", alt="" draggable="false"  data-kg="" data-kg-group="gallery2")
                        .swiper-slide.community__slide 
                            img(src="@img/community-1.png", alt="" draggable="false"  data-kg="" data-kg-group="gallery2")
                        .swiper-slide.community__slide 
                            img(src="@img/community-2.png", alt="" draggable="false"  data-kg="" data-kg-group="gallery2")
                        .swiper-slide.community__slide 
                            img(src="@img/community-3.png", alt="" draggable="false"  data-kg="" data-kg-group="gallery2").community__slider
                .swiper.community__gallery 
                    .swiper-wrapper 
                        .swiper-slide.community__gallery-slide 
                            img(src="@img/community-1.png", alt="" draggable="false"  data-kg="" data-kg-group="gallery2")
                        .swiper-slide.community__gallery-slide 
                            img(src="@img/community-2.png", alt="" draggable="false"  data-kg="" data-kg-group="gallery2")
                        .swiper-slide.community__gallery-slide 
                            img(src="@img/community-3.png", alt="" draggable="false"  data-kg="" data-kg-group="gallery2")
                        .swiper-slide.community__gallery-slide 
                            img(src="@img/community-1.png", alt="" draggable="false"  data-kg="" data-kg-group="gallery2")
                        .swiper-slide.community__gallery-slide 
                            img(src="@img/community-2.png", alt="" draggable="false"  data-kg="" data-kg-group="gallery2")
                        .swiper-slide.community__gallery-slide 
                            img(src="@img/community-3.png", alt="" draggable="false"  data-kg="" data-kg-group="gallery2")
