mixin consultation()
    section.section.consultation#consultation 
        .section__body.consultion__body.container
            .section__title 
                img(src="@img/consultation-text.png", alt="" draggable="false")
            h2.consultation__title.title <span>Get</span> consultation from our expert