mixin consultation() 
    section.section.consultation#consultation 
        .section__body.consultion__body.container 
            .section__title 
                img(src="@img/consultation-text.png", alt="" draggable="false") 
            h2.consultation__title.title <span>Get</span> consultation from our expert 
            .consultation__content 
                .consultation__info 
                    .consultation__item 
                        .consultation__item-svg 
                            <svg width="52" height="69" viewBox="0 0 52 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.47354 1.82822L13.2324 0.396614C15.3987 -0.25613 17.7288 -0.0992028 19.7877 0.838102C21.8467 1.77541 23.4937 3.42903 24.4215 5.49027L27.3828 12.0699C28.1808 13.8424 28.4031 15.82 28.0185 17.7251C27.6339 19.6302 26.6618 21.3673 25.2385 22.6925L20.0639 27.5113C20 27.5709 19.9475 27.6417 19.9091 27.7203C19.3673 28.8255 20.1901 31.7774 22.7673 36.2383C25.6742 41.2661 27.9189 43.2532 28.9596 42.9468L35.751 40.871C37.6109 40.3038 39.6019 40.332 41.445 40.9517C43.288 41.5715 44.8907 42.7517 46.0284 44.3269L50.2368 50.1478C51.5581 51.9755 52.1701 54.2201 51.9592 56.4645C51.7483 58.709 50.7288 60.8006 49.0901 62.3509L45.4694 65.7724C44.2103 66.9636 42.6814 67.8328 41.013 68.3059C39.3447 68.7791 37.5866 68.8421 35.8886 68.4896C25.8061 66.3937 16.7729 58.2851 8.71148 44.3412C0.647216 30.3888 -1.86696 18.5064 1.37251 8.7343C1.91478 7.09827 2.84338 5.61664 4.07984 4.41461C5.3163 3.21258 6.8243 2.32546 8.4764 1.82822H8.47354ZM9.71772 5.9398C8.72641 6.23801 7.82154 6.77016 7.07957 7.49127C6.33759 8.21239 5.78031 9.10129 5.45481 10.0829C2.66256 18.5036 4.92446 29.2006 12.4354 42.1938C19.9407 55.1785 28.0766 62.4797 36.763 64.2835C37.7822 64.4952 38.8377 64.4573 39.8391 64.1731C40.8405 63.8889 41.7582 63.3668 42.5137 62.6515L46.1316 59.2328C47.0143 58.3983 47.5636 57.2721 47.6775 56.0635C47.7914 54.8549 47.4621 53.6461 46.7508 52.6617L42.5424 46.838C41.9299 45.9899 41.0671 45.3545 40.0749 45.0208C39.0827 44.6871 38.0109 44.6717 37.0095 44.9769L30.2009 47.0584C26.4339 48.1779 22.8906 45.0427 19.0434 38.3829C15.7838 32.7481 14.6543 28.6766 16.0476 25.8334C16.3171 25.2837 16.684 24.7883 17.1312 24.3703L22.3058 19.5515C23.0725 18.838 23.5962 17.9025 23.8034 16.8765C24.0106 15.8505 23.8909 14.7854 23.4611 13.8308L20.4997 7.25401C20.0002 6.14383 19.1131 5.25319 18.0042 4.74843C16.8953 4.24367 15.6404 4.15929 14.4737 4.51105L9.71485 5.94266L9.71772 5.9398Z" fill="url(#paint0_linear_375_201)"/>
                                <defs>
                                <linearGradient id="paint0_linear_375_201" x1="20.6471" y1="-95.1428" x2="137.402" y2="102.189" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FFA761"/>
                                <stop offset="1" stop-color="#C7825B"/>
                                </linearGradient>
                                </defs>
                            </svg>
                        p.consultation__item-p Our specialists will contact you at a time convenient for you 
                    .consultation__item 
                        .consultation__item-svg 
                            <svg width="74" height="65" viewBox="0 0 74 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M52.5425 57.7715H33.3711V43.8286H57.7711V29.8857H71.7139V57.7715H62.9997L57.7711 63L52.5425 57.7715Z" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M52.5425 57.7715H33.3711V43.8286H57.7711V29.8857H71.7139V57.7715H62.9997L57.7711 63L52.5425 57.7715Z" stroke="url(#paint0_linear_584_400)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M2 2H57.7714V43.8286H24.6571L17.6857 50.8L10.7143 43.8286H2V2Z" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M2 2H57.7714V43.8286H24.6571L17.6857 50.8L10.7143 43.8286H2V2Z" stroke="url(#paint1_linear_584_400)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M28.1434 22.915H29.8862M40.3434 22.915H42.0862M15.9434 22.915H17.6862" stroke="black" stroke-width="4" stroke-linecap="round"/>
                                <path d="M28.1434 22.915H29.8862M40.3434 22.915H42.0862M15.9434 22.915H17.6862" stroke="url(#paint2_linear_584_400)" stroke-width="4" stroke-linecap="round"/>
                                <defs>
                                <linearGradient id="paint0_linear_584_400" x1="48.5955" y1="-15.9648" x2="91.7838" y2="95.7217" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FFA761"/>
                                <stop offset="1" stop-color="#C7825B"/>
                                </linearGradient>
                                <linearGradient id="paint1_linear_584_400" x1="24.1445" y1="-65.5692" x2="88.4066" y2="98.4563" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FFA761"/>
                                <stop offset="1" stop-color="#C7825B"/>
                                </linearGradient>
                                <linearGradient id="paint2_linear_584_400" x1="26.3236" y1="21.5304" x2="26.39" y2="25.4064" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FFA761"/>
                                <stop offset="1" stop-color="#C7825B"/>
                                </linearGradient>
                                </defs>
                            </svg>
                        p.consultation__item-p Our experts will answer any of your questions 
                    .consultation__item 
                        .consultation__item-svg 
                            <svg width="80" height="71" viewBox="0 0 80 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M40 19.2144V68.0716M40 19.2144C42.7143 8.4998 52.9658 3.02882 75.2857 2.92873C75.6425 2.92738 75.9961 2.99667 76.326 3.1326C76.6559 3.26853 76.9557 3.46841 77.208 3.72072C77.4603 3.97304 77.6602 4.27279 77.7961 4.60271C77.932 4.93263 78.0013 5.28619 78 5.64301V54.5001C78 55.22 77.714 55.9104 77.205 56.4194C76.696 56.9285 76.0056 57.2144 75.2857 57.2144C53.5714 57.2144 45.1826 61.5929 40 68.0716C34.8479 61.6251 26.4286 57.2144 4.7143 57.2144C3.03823 57.2144 2.00002 55.8488 2.00002 54.1727V5.64301C1.99867 5.28619 2.06796 4.93263 2.20389 4.60271C2.33982 4.27279 2.5397 3.97304 2.79201 3.72072C3.04433 3.46841 3.34408 3.26853 3.674 3.1326C4.00392 2.99667 4.35748 2.92738 4.7143 2.92873C27.0342 3.02882 37.2857 8.4998 40 19.2144Z" stroke="url(#paint0_linear_420_152)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                <defs>
                                <linearGradient id="paint0_linear_420_152" x1="32.1765" y1="-87.2691" x2="116.663" y2="132.871" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FFA761"/>
                                <stop offset="1" stop-color="#C7825B"/>
                                </linearGradient>
                                </defs>
                            </svg>
                        p.consultation__item-p You will get all PDFs (brochures, payment plans, price lists, floor plans) 
                include form 
                +form2 