mixin developer()   
    section.section.developer
        .section__body.developer__body.container#developer
            .section__title 
                img(src="@img/developer-title.png", alt="" draggable="false")
            h2.title.developer__title <span>Reliable</span> developer 
            .developer__item
                .developer__item-img 
                    img(src="@img/reliable-1.png", alt="" draggable="false")
                .developer__item-content 
                    p.developer__item-title EMAAR
                    p.developer__item-p Established in 1997, Emaar Properties is the pioneering developer of integrated, master‐planned communities in the UAE and 12 countries around the world.
            .developer__item
                .developer__item-img 
                    img(src="@img/reliable-2.png", alt="" draggable="false")
                .developer__item-content 
                    p.developer__item-title MERAAS
                    p.developer__item-p Founded in 2007, the Dubai‐based conglomerate Meraas is committed to creating and consistently delivering developments that strengthen Dubai’s position as a global real estate investment destination of choice.
