mixin developer()   
    section.section.developer
        .section__body.developer__body.container#developer
            .section__title 
                img(src="@img/developer-title.png", alt="" draggable="false")
            h2.title.developer__title <span>Reliable</span> developer 
            .developer__item
                .developer__item-img 
                    img(src="@img/developer-1.png", alt="" draggable="false")
                .developer__item-content 
                    p.developer__item-title EMAAR
                    p.developer__item-p Established in 1997, Emaar Properties is the pioneering developer of integrated, master‐planned communities in the UAE and 12 countries around the world.
                    p.developer__item-subtitle Emaar in numbers (FY 2021):
                    .developer__item-grid 
                        .developer__item-sub 
                            p.developer__item-num $10.9 bln 
                            p.developer__item-label Market cap 
                        .developer__item-sub 
                            p.developer__item-num $7.7 bln
                            p.developer__item-label Revenue
                        .developer__item-sub 
                            p.developer__item-num $1 bln
                            p.developer__item-label Net profit
                        .developer__item-sub 
                            p.developer__item-num 81 600+
                            p.developer__item-label Delivered residential units
            .developer__item.developer__item_reverse
                .developer__item-img 
                    img(src="@img/developer-2.png", alt="" draggable="false")
                .developer__item-content 
                    p.developer__item-title MERAAS
                    p.developer__item-p Founded in 2007, the Dubai‐based conglomerate Meraas is committed to creating and consistently delivering developments that strengthen Dubai’s position as a global real estate investment destination of choice.
                    p.developer__item-subtitle Meraas in numbers:
                    .developer__item-grid 
                        .developer__item-sub 
                            p.developer__item-num 2 000+
                            p.developer__item-label Commercial objects
                        .developer__item-sub 
                            p.developer__item-num 3 500+
                            p.developer__item-label Apartments in 5 districts of the city
                        .developer__item-sub 
                            p.developer__item-num 1 300+
                            p.developer__item-label Hotel rooms
                        .developer__item-sub 
                            p.developer__item-num $4.9 bln
                            p.developer__item-label Invested in the entertainment sector
