mixin developer()   
    section.section.developer.white
        .section__body.developer__body.container#developer
            .section__title 
                img(src="@img/reliable-title.png", alt="" draggable="false")
            h2.title.developer__title <span>Reliable</span> developer 
