mixin exterior()
    section.section.exterior#exterior 
        .section__body.exterior__body.container
            .section__title 
                img(src="@img/exterior-title.png", alt="" draggable="false")
            h2.title.exterior__title Exterior
            .exterior__slider 
                .swiper.exterior__swiper
                    .swiper-wrapper     
                        .exterior__slide.swiper-slide
                            img(src="@img/exterior-1.png", alt="" draggable="false")
                        .exterior__slide.swiper-slide
                            img(src="@img/exterior-1.png", alt="" draggable="false")
                        .exterior__slide.swiper-slide
                            img(src="@img/exterior-1.png", alt="" draggable="false")
                .exterior__pagination.swiper-pagination    
                .exterior__navigation.swiper-navigation
                    .swiper-button-prev.exterior__prev
                        <svg width="27" height="65" viewBox="0 0 27 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26 1L1.75438 28.0245C0.736748 29.1588 0.669918 30.8566 1.59524 32.0673L26 64" stroke-width="0.317073"></path>
                        </svg>
                    .swiper-button-next.exterior__next
                        <svg width="26" height="65" viewBox="0 0 26 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L24.2335 26.8964C25.8382 28.685 25.9436 31.3623 24.4844 33.2715L1 64" stroke-width="0.5"></path>
                        </svg>