mixin exterior()
    section.section.exterior#exterior 
        .section__body.exterior__body.container
            .section__title 
                img(src="@img/exterior-title.png", alt="" draggable="false")
            h2.title.exterior__title Exterior
            .exterior__slider 
                .swiper 
                    .swiper-wrapper     
                        .exterior__slide.swiper-slide