mixin features()
    section.section.gray.features#features
        .features__body.section__body.container
            h2.subtitle.features__title We focus on key <br><span>features</span> of comfort
            .features__slider 
                .swiper.features__swiper 
                    .swiper-wrapper 
                        .swiper-slide.features__slide
                            .features__slide-hr 
                            span.features__slide-num 01
                            p.features__slide-title Swimming pools
                            p.features__slide-p Serene and peaceful neighborhood in one of the most prestigious communities -
                        .swiper-slide.features__slide
                            .features__slide-hr 
                            span.features__slide-num 02
                            p.features__slide-title Dubai Hills Park
                            p.features__slide-p Serene and peaceful neighborhood in one of the prestigious communities -
                        .swiper-slide.features__slide
                            .features__slide-hr 
                            span.features__slide-num 03
                            p.features__slide-title Spa and sauna
                            p.features__slide-p Serene and peaceful neighborhood in one of the prestigious communities -
                        .swiper-slide.features__slide
                            .features__slide-hr 
                            span.features__slide-num 04
                            p.features__slide-title Swimming pools
                            p.features__slide-p Serene and peaceful neighborhood in one of the most prestigious communities -
                    .features__pagination.swiper-pagination
                .features__navigation.swiper-navigation  
                    .features__prev.swiper-button-prev
                        <svg width="27" height="65" viewBox="0 0 27 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26 1L1.75438 28.0245C0.736748 29.1588 0.669918 30.8566 1.59524 32.0673L26 64" stroke-width="0.317073"/>
                        </svg>
                    .features__next.swiper-button-next
                        <svg width="26" height="65" viewBox="0 0 26 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L24.2335 26.8964C25.8382 28.685 25.9436 31.3623 24.4844 33.2715L1 64" stroke-width="0.5"/>
                        </svg>
