mixin features()
    section.section.gray.features#features
        .features__body.section__body.container
            h2.subtitle.features__title We focus on key <br><span>features</span> of comfort
            .features__slider 
                .swiper.features__swiper 
                    .features__overlay 
                    .swiper-wrapper 
                        .swiper-slide.features__slide
                            .features__slide-hr 
                            span.features__slide-num 01
                            .features__slide-img 
                                <svg width="210" height="119" viewBox="0 0 210 119" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M135.674 26.4114C141.627 26.4114 146.452 21.6183 146.452 15.7057C146.452 9.7931 141.627 5 135.674 5C129.722 5 124.896 9.7931 124.896 15.7057C124.896 21.6183 129.722 26.4114 135.674 26.4114Z" fill="url(#paint0_linear_1102_61)" stroke="url(#paint1_linear_1102_61)" stroke-width="9.66324" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M40.3333 47.8069L83.4444 26.4111L121.167 58.5048L105 79.9005M8 109.32C11.355 110.975 15.0324 111.888 18.7778 111.994C22.9757 112.081 27.1319 111.153 30.8874 109.289C34.643 107.425 37.8849 104.682 40.3333 101.296C42.7817 97.9105 46.0237 95.1672 49.7792 93.3034C53.5348 91.4395 57.691 90.5111 61.8889 90.5984C66.0868 90.5111 70.243 91.4395 73.9985 93.3034C77.7541 95.1672 80.9961 97.9105 83.4444 101.296C85.8928 104.682 89.1348 107.425 92.8903 109.289C96.6459 111.153 100.802 112.081 105 111.994C109.198 112.081 113.354 111.153 117.11 109.289C120.865 107.425 124.107 104.682 126.556 101.296C129.004 97.9105 132.246 95.1672 136.001 93.3034C139.757 91.4395 143.913 90.5111 148.111 90.5984C152.309 90.5111 156.465 91.4395 160.221 93.3034C163.976 95.1672 167.218 97.9105 169.667 101.296C172.115 104.682 175.357 107.425 179.113 109.289C182.868 111.153 187.024 112.081 191.222 111.994C194.968 111.888 198.645 110.975 202 109.32" stroke="url(#paint2_linear_1102_61)" stroke-width="14" stroke-linecap="round" stroke-linejoin="round"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_1102_61" x1="133.455" y1="-24.6465" x2="164.279" y2="44.6584" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FFA761"/>
                                    <stop offset="1" stop-color="#C7825B"/>
                                    </linearGradient>
                                    <linearGradient id="paint1_linear_1102_61" x1="133.455" y1="-24.6465" x2="164.279" y2="44.6584" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FFA761"/>
                                    <stop offset="1" stop-color="#C7825B"/>
                                    </linearGradient>
                                    <linearGradient id="paint2_linear_1102_61" x1="85.0294" y1="-92.0963" x2="148.118" y2="227.277" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FFA761"/>
                                    <stop offset="1" stop-color="#C7825B"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                            p.features__slide-title Swimming pools
                            p.features__slide-p Spacious swimming area with temperature-controlled water.
                        .swiper-slide.features__slide
                            .features__slide-hr 
                            span.features__slide-num 02
                            .features__slide-img 
                                <svg width="168" height="157" viewBox="0 0 168 157" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.4641 13.9477L14.4666 13.9503L65.7423 65.1431L47.0888 83.7967L13.3969 50.1853C13.3944 50.1827 13.3919 50.1802 13.3894 50.1777C3.93304 40.6381 1.93107 26.575 7.38407 15.117C8.68632 12.4432 12.3517 11.8354 14.4641 13.9477ZM108.513 70.1176L105.728 68.8253L103.557 70.9962L90.6413 83.912L87.5348 87.0185L90.6413 90.1249L144.941 144.424C145.346 144.83 145.668 145.311 145.887 145.841C146.107 146.371 146.22 146.939 146.22 147.512C146.22 148.086 146.107 148.653 145.887 149.183C145.668 149.713 145.346 150.194 144.941 150.6C144.535 151.005 144.054 151.327 143.524 151.547C142.994 151.766 142.426 151.879 141.853 151.879C141.279 151.879 140.711 151.766 140.181 151.547C139.652 151.327 139.17 151.006 138.765 150.6L84.4654 96.3007L81.364 93.1993L78.2576 96.2957L23.8705 150.507L23.8655 150.512C23.0465 151.331 21.9357 151.791 20.7775 151.791C19.6194 151.791 18.5086 151.331 17.6896 150.512C16.8707 149.693 16.4106 148.582 16.4106 147.424C16.4106 146.266 16.8707 145.155 17.6896 144.336L97.2934 64.7325L99.4643 62.5616L98.172 59.7768C92.9175 48.4539 96.3653 31.485 109.414 18.4332C117.226 10.6638 126.594 6.16371 135.289 5.01554C143.982 3.86762 151.735 6.06945 156.978 11.3119C162.266 16.6001 164.464 24.3758 163.308 33.0618C162.15 41.7545 157.63 51.1018 149.861 58.8711C136.808 71.9235 119.837 75.3727 108.513 70.1176Z" fill="url(#paint0_linear_850_62)" stroke="url(#paint1_linear_850_62)" stroke-width="8.78629"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_850_62" x1="66.7059" y1="-215.597" x2="280.982" y2="299.959" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FFA761"/>
                                    <stop offset="1" stop-color="#C7825B"/>
                                    </linearGradient>
                                    <linearGradient id="paint1_linear_850_62" x1="66.7059" y1="-215.597" x2="280.982" y2="299.959" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FFA761"/>
                                    <stop offset="1" stop-color="#C7825B"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                            p.features__slide-title Restaurants and cafes
                            p.features__slide-p Welcoming and luxurious venues offer rich menus and impeccable comfort.
                        .swiper-slide.features__slide
                            .features__slide-hr 
                            span.features__slide-num 03
                            .features__slide-img 
                                <svg width="175" height="159" viewBox="0 0 175 159" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M111.085 153.388V110.714C111.085 106.836 109.724 103.359 106.98 100.606L106.974 100.6L106.968 100.594C104.215 97.8505 100.738 96.4897 96.8601 96.4897H77.8941C74.0157 96.4897 70.5387 97.8509 67.7894 100.6C65.0373 103.352 63.6696 106.831 63.6696 110.714V153.388H30.479C28.9887 153.388 27.9597 152.935 27.0704 152.045L23.7176 155.398L27.0704 152.045C26.1908 151.166 25.7375 150.142 25.7375 148.646V82.2652V77.5237H20.996H4.92951L4.96711 77.4898L84.1503 6.13007L84.2418 6.04764L84.3288 5.96058C85.1502 5.13922 86.0657 4.74151 87.3771 4.74151C88.6885 4.74151 89.604 5.13921 90.4254 5.96058L90.5115 6.04666L90.6019 6.12821L122.133 34.5773L130.051 41.7211V31.0569V15.8841C130.051 14.3938 130.504 13.3648 131.393 12.4754C132.273 11.5958 133.297 11.1425 134.792 11.1425H144.275C145.771 11.1425 146.795 11.5958 147.674 12.4754C148.564 13.3648 149.017 14.3938 149.017 15.8841V56.661V58.7708L150.584 60.1832L169.787 77.4897L169.825 77.5237H153.758H149.017V82.2652V148.646C149.017 150.136 148.564 151.159 147.68 152.04L147.674 152.045L147.669 152.051C146.788 152.935 145.765 153.388 144.275 153.388H111.085ZM63.6696 68.4V73.1415H68.4111L106.343 73.1415H111.085V68.4C111.085 65.3883 110.537 61.4283 109.477 57.7493C108.475 54.2731 106.741 50.0514 103.735 47.4812L103.731 47.4782C99.0664 43.4976 93.5454 41.4882 87.3771 41.4882C81.2089 41.4882 75.6879 43.4976 71.0231 47.4782L71.0196 47.4812C68.0135 50.0514 66.279 54.2731 65.2774 57.7493C64.2173 61.4283 63.6696 65.3883 63.6696 68.4Z" fill="url(#paint0_linear_850_64)" stroke="url(#paint1_linear_850_64)" stroke-width="9.48302"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_850_64" x1="69.3877" y1="-218.948" x2="282.756" y2="307.687" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FFA761"/>
                                    <stop offset="1" stop-color="#C7825B"/>
                                    </linearGradient>
                                    <linearGradient id="paint1_linear_850_64" x1="69.3877" y1="-218.948" x2="282.756" y2="307.687" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FFA761"/>
                                    <stop offset="1" stop-color="#C7825B"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                            p.features__slide-title Event space
                            p.features__slide-p A multi-purpose hall for special occasions and social gatherings.
                        .swiper-slide.features__slide
                            .features__slide-hr 
                            span.features__slide-num 04
                            .features__slide-img 
                                <svg width="172" height="171" viewBox="0 0 172 171" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M121.18 133.258L124.36 130.078L121.18 126.898L44.7339 50.4519L41.5542 47.2722L38.3744 50.4519L12.7423 76.084C11.7635 77.0628 10.8468 77.3853 9.77258 77.3504L9.76136 77.3501C8.58213 77.3147 7.55272 76.9012 6.51067 75.8591C5.52952 74.878 5.12966 73.8741 5.12966 72.6264C5.12966 71.3879 5.52718 70.3861 6.51067 69.4026L3.33092 66.2228L6.51068 69.4026L12.8063 63.107L15.986 59.9272L12.8063 56.7475L6.51068 50.4519C5.49848 49.4397 5.12966 48.4638 5.12966 47.3361C5.12966 46.2084 5.49848 45.2324 6.51068 44.2202L19.3267 31.4042L22.5065 28.2245L19.3267 25.0447L12.8063 18.5243C11.859 17.577 11.5022 16.6311 11.5399 15.433L11.54 15.433L11.5403 15.4224C11.5777 14.1358 12.0173 13.0816 13.0311 12.0678C14.0123 11.0866 15.0162 10.6867 16.2639 10.6867C17.4921 10.6867 18.4875 11.0777 19.4632 12.0435L25.7279 18.5319L28.9067 21.8242L32.1427 18.5882L44.7339 5.997C45.7461 4.98481 46.722 4.61599 47.8497 4.61599C48.9775 4.61599 49.9534 4.98481 50.9656 5.997L57.486 12.5174L60.6658 15.6972L63.8455 12.5174L70.366 5.997C71.0891 5.27389 72.0044 4.84083 73.4818 4.84083C74.9592 4.84083 75.8745 5.27389 76.5976 5.997C77.3207 6.72012 77.7538 7.63544 77.7538 9.11284C77.7538 10.5902 77.3207 11.5056 76.5976 12.2287L50.9656 37.8607L47.7858 41.0405L50.9656 44.2202L127.412 120.667L130.592 123.846L133.772 120.667L159.404 95.0346C160.385 94.0535 161.389 93.6536 162.636 93.6536C163.875 93.6536 164.877 94.0511 165.86 95.0346C166.844 96.0181 167.241 97.0199 167.241 98.2584C167.241 99.5061 166.841 100.51 165.86 101.491L159.34 108.012L156.16 111.191L159.34 114.371L165.635 120.667C166.647 121.679 167.016 122.655 167.016 123.783C167.016 124.91 166.647 125.886 165.635 126.898L152.819 139.714L149.639 142.894L152.819 146.074L159.34 152.594C160.352 153.607 160.721 154.582 160.721 155.71C160.721 156.838 160.352 157.814 159.34 158.826C158.356 159.809 157.354 160.207 156.116 160.207C154.868 160.207 153.864 159.807 152.883 158.826L152.855 158.798L152.827 158.771L146.306 152.475L143.128 149.406L140.003 152.53L127.412 165.122C126.4 166.134 125.424 166.503 124.296 166.503C123.168 166.503 122.193 166.134 121.18 165.122L114.66 158.601L111.48 155.421L108.3 158.601L101.78 165.122C101.057 165.845 100.142 166.278 98.6641 166.278C97.1867 166.278 96.2714 165.845 95.5483 165.122C94.8252 164.398 94.3921 163.483 94.3921 162.006C94.3921 160.528 94.8252 159.613 95.5483 158.89L121.18 133.258Z" fill="url(#paint0_linear_850_66)" stroke="url(#paint1_linear_850_66)" stroke-width="8.9937"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_850_66" x1="68.5716" y1="-236.484" x2="315.458" y2="315.636" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FFA761"/>
                                    <stop offset="1" stop-color="#C7825B"/>
                                    </linearGradient>
                                    <linearGradient id="paint1_linear_850_66" x1="68.5716" y1="-236.484" x2="315.458" y2="315.636" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FFA761"/>
                                    <stop offset="1" stop-color="#C7825B"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                            p.features__slide-title Fitness centre
                            p.features__slide-p Well-equipped gyms and many other facilities for residents’ wellness.
                        .swiper-slide.features__slide
                            .features__slide-hr 
                            span.features__slide-num 05
                            .features__slide-img 
                                <svg width="169" height="168" viewBox="0 0 169 168" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M104.576 115.192L104.587 115.208L104.598 115.224C112.314 126.778 119.836 136.271 128.822 143.096C137.923 150.008 148.336 154.047 161.579 155.039C163.113 155.154 164.073 156.342 164.073 157.458V161.497C164.073 162.773 163.081 163.55 162.15 163.494C146.785 162.565 135.047 158.08 125.033 150.766C114.928 143.386 106.382 132.984 97.6511 119.889C94.4485 115.044 91.8142 110.6 89.4092 106.37L89.4041 106.361L89.3989 106.352C85.777 100.055 82.5402 94.4352 78.1743 90.1284C73.615 85.6306 68.0188 82.7168 59.9494 81.158L54.9566 80.1935V85.2786V163.674H46.563V151.084V146.887H42.3662H17.1856H12.9888V151.084V163.674H4.59522V29.3775C4.59522 15.4957 15.8941 4.19678 29.7759 4.19678C43.6577 4.19678 54.9566 15.4957 54.9566 29.3775V68.2396V71.8519L58.5286 72.3897C69.5848 74.054 76.645 77.5095 82.0882 82.2932C87.6632 87.1927 91.8144 93.7033 96.7326 102.152C96.8678 102.387 97.0038 102.624 97.1408 102.863C99.2861 106.6 101.664 110.743 104.576 115.192ZM42.3662 71.3453H46.563V67.1485V29.3775C46.563 20.093 39.0604 12.5903 29.7759 12.5903C20.4914 12.5903 12.9888 20.093 12.9888 29.3775V67.1485V71.3453H17.1856H42.3662ZM12.9888 134.297V138.494H17.1856H42.3662H46.563V134.297V117.51V113.313H42.3662H17.1856H12.9888V117.51V134.297ZM42.3662 104.92H46.563V100.723V83.9356V79.7388H42.3662H17.1856H12.9888V83.9356V100.723V104.92H17.1856H42.3662Z" stroke="url(#paint0_linear_850_68)" stroke-width="8.39356"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_850_68" x1="67.0532" y1="-232.437" x2="309.805" y2="309.723" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FFA761"/>
                                    <stop offset="1" stop-color="#C7825B"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                            p.features__slide-title Spa and sauna
                            p.features__slide-p High-class service will provide you with quality self-care time.
                        .swiper-slide.features__slide.disable-md
                            .features__slide-hr 
                            span.features__slide-num 06
                            .features__slide-img 
                                <svg width="208" height="174" viewBox="0 0 208 174" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M205.438 134.89V134.889C205.438 126.449 198.62 119.652 190.24 119.652C188.245 119.656 186.271 120.052 184.429 120.819C182.586 121.587 180.913 122.71 179.504 124.125C178.096 125.539 176.98 127.217 176.22 129.063C175.46 130.909 175.072 132.887 175.077 134.883L175.077 134.889C175.077 143.299 181.879 150.12 190.237 150.121L205.438 134.89ZM205.438 134.89C205.44 138.925 203.841 142.796 200.99 145.652C198.14 148.508 194.272 150.115 190.237 150.121L205.438 134.89ZM200.774 170.841L200.721 170.838H200.668H131.913V157.863H199.95C201.44 157.863 202.424 158.247 203.101 158.719C203.797 159.204 204.301 159.875 204.666 160.628C205.39 162.124 205.436 163.672 205.438 163.741V167.613C205.139 168.546 204.551 169.363 203.757 169.945C202.895 170.577 201.842 170.894 200.774 170.841ZM49.41 91.1126L53.9439 101.669L55.9309 100.816L53.9439 101.669C54.0138 101.832 54.0972 101.988 54.1931 102.137C55.5649 105.997 58.5363 109.525 62.7828 111.124C62.7855 111.125 62.7882 111.126 62.791 111.127L75.2092 115.908L72.361 118.938H49.4011L49.41 91.1126ZM66.786 101.444L66.7756 101.44L66.7651 101.436C65.4092 100.95 64.2804 99.8713 63.655 98.4873L50.1021 65.1535C48.8159 61.8765 48.7546 56.8196 50.6825 52.6381C52.5332 48.624 56.1997 45.4127 62.6652 45.4127H88.6153C95.1139 45.4127 98.4181 48.0902 99.799 49.4692C100.586 50.301 107.199 57.6779 112.769 63.8914C116.017 67.5148 118.911 70.7426 120.088 72.0463L120.188 72.1578L120.304 72.2543C121.134 72.9503 121.734 73.8803 122.027 74.9225L128.201 101.653L128.227 101.762L128.263 101.868C128.728 103.225 128.64 104.71 128.016 106.003C127.394 107.293 126.289 108.286 124.94 108.767C124.275 108.999 123.57 109.097 122.866 109.055C122.16 109.013 121.47 108.831 120.834 108.521C120.199 108.21 119.632 107.777 119.165 107.246C118.727 106.747 118.385 106.171 118.158 105.548L112.755 78.3334L110.634 78.7544L112.755 78.3333C112.581 77.4538 112.041 76.6897 111.27 76.2312L102.092 70.7711C99.9843 69.5169 97.3129 71.036 97.3129 73.489V89.9102L80.2545 83.5862L73.7995 67.9325C73.1499 66.3572 71.3689 65.5798 69.772 66.1745L70.5268 68.2011L69.772 66.1745L66.1238 67.5334L66.8785 69.5599L66.1237 67.5334C64.4423 68.1596 63.6181 70.0579 64.3086 71.714L72.2197 90.6884C72.5548 91.4923 73.2066 92.1223 74.0214 92.43L100.997 102.617C102.285 103.206 103.294 104.275 103.806 105.597C104.326 106.938 104.294 108.429 103.718 109.745L103.716 109.75C103.435 110.397 103.029 110.982 102.521 111.471C102.013 111.961 101.414 112.345 100.757 112.602C100.1 112.859 99.3994 112.984 98.6943 112.969C97.9893 112.955 97.2941 112.801 96.6486 112.517L96.5896 112.491L96.5292 112.469L66.786 101.444ZM163.965 127.229C166.404 129.146 167.947 131.976 167.949 135.863C167.949 143.604 161.757 149.213 153.677 149.213H131.913V126.895L153.841 124.117C157.953 124.172 161.494 125.286 163.965 127.229ZM92.8625 19.3155C92.8625 28.8005 85.2188 36.4729 75.7873 36.4729C66.3633 36.4729 58.7078 28.7993 58.7078 19.3155C58.7078 9.83244 66.3626 2.16251 75.7873 2.16251C85.2194 2.16251 92.8625 9.83118 92.8625 19.3155ZM54.9847 101.707L55.207 101.631L54.9847 101.707ZM123.263 127.588V170.838H2.16251V133.107C2.16251 131.118 2.93017 129.827 3.99844 128.983C5.13158 128.087 6.75325 127.588 8.50731 127.588H123.263Z" fill="url(#paint0_linear_935_93)" stroke="url(#paint1_linear_935_93)" stroke-width="4.32502"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_935_93" x1="82.4298" y1="-239.551" x2="302.133" y2="349.241" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FFA761"/>
                                    <stop offset="1" stop-color="#C7825B"/>
                                    </linearGradient>
                                    <linearGradient id="paint1_linear_935_93" x1="82.4298" y1="-239.551" x2="302.133" y2="349.241" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FFA761"/>
                                    <stop offset="1" stop-color="#C7825B"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                            p.features__slide-title Kids’ play areas
                            p.features__slide-p State-of-the-art fun-in-motion activities for families and children.
                    .features__pagination.swiper-pagination
                .features__navigation.swiper-navigation  
                    .features__prev.swiper-button-prev
                        <svg width="27" height="65" viewBox="0 0 27 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26 1L1.75438 28.0245C0.736748 29.1588 0.669918 30.8566 1.59524 32.0673L26 64" stroke-width="1"/>
                        </svg>
                    .features__next.swiper-button-next
                        <svg width="26" height="65" viewBox="0 0 26 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L24.2335 26.8964C25.8382 28.685 25.9436 31.3623 24.4844 33.2715L1 64" stroke-width="1"/>
                        </svg>
