mixin features()
    section.section.gray.features#features
        .features__body.section__body.container
            h2.subtitle.features__title We focus on key <br><span>features</span> of comfort
            .features__slider 
                .swiper.features__swiper 
                    .swiper-wrapper 
                        .swiper-slide.features__slide
                            .features__slide-hr 
                            span.features__slide-num 01
                            p.features__slide-title Swimming pools
                            p.features__slide-p Serene and peaceful neighborhood in one of the most prestigious communities -
                        .swiper-slide.features__slide
                            .features__slide-hr 
                            span.features__slide-num 02
                            p.features__slide-title Dubai Hills Park
                            p.features__slide-p Serene and peaceful neighborhood in one of the prestigious communities -
                        .swiper-slide.features__slide
                            .features__slide-hr 
                            span.features__slide-num 03
                            p.features__slide-title Spa and sauna
                            p.features__slide-p Serene and peaceful neighborhood in one of the prestigious communities -
                        .swiper-slide.features__slide
                            .features__slide-hr 
                            span.features__slide-num 04
                            p.features__slide-title Swimming pools
                            p.features__slide-p Serene and peaceful neighborhood in one of the most prestigious communities -
                    .features__pagination.swiper-pagination
