mixin features()
    section.section.gray.features#features
        .features__body.section__body.container
            h2.subtitle.features__title We focus on key <br><span>features</span> of comfort
            .features__slider 
                .swiper.features__swiper 
                    .features__overlay 
                    .swiper-wrapper 
                        .swiper-slide.features__slide
                            .features__slide-hr 
                            span.features__slide-num 01
                            .features__slide-img 
                                img(src="@img/features-icon-1.svg", alt="" draggable="false")
                            p.features__slide-title Swimming pools
                            p.features__slide-p Spacious swimming area with temperature-controlled water.
                        .swiper-slide.features__slide
                            .features__slide-hr 
                            span.features__slide-num 02
                            .features__slide-img 
                                img(src="@img/features-icon-2.svg", alt="" draggable="false")
                            p.features__slide-title Restaurants and cafes
                            p.features__slide-p Welcoming and luxurious venues offer rich menus and impeccable comfort.
                        .swiper-slide.features__slide
                            .features__slide-hr 
                            span.features__slide-num 03
                            .features__slide-img 
                                img(src="@img/features-icon-3.svg", alt="" draggable="false")
                            p.features__slide-title Event space
                            p.features__slide-p A multi-purpose hall for special occasions and social gatherings.
                        .swiper-slide.features__slide
                            .features__slide-hr 
                            span.features__slide-num 04
                            .features__slide-img 
                                img(src="@img/features-icon-4.svg", alt="" draggable="false")
                            p.features__slide-title Fitness centre
                            p.features__slide-p Well-equipped gyms and many other facilities for residents’ wellness.
                        .swiper-slide.features__slide
                            .features__slide-hr 
                            span.features__slide-num 05
                            .features__slide-img 
                                img(src="@img/features-icon-5.svg", alt="" draggable="false")
                            p.features__slide-title Spa and sauna
                            p.features__slide-p High-class service will provide you with quality self-care time.
                        .swiper-slide.features__slide
                            .features__slide-hr 
                            span.features__slide-num 06
                            .features__slide-img 
                                img(src="@img/features-icon-6.svg", alt="" draggable="false")
                            p.features__slide-title Kids’ play areas
                            p.features__slide-p State-of-the-art fun-in-motion activities for families and children.
                    .features__pagination.swiper-pagination
                .features__navigation.swiper-navigation  
                    .features__prev.swiper-button-prev
                        <svg width="27" height="65" viewBox="0 0 27 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26 1L1.75438 28.0245C0.736748 29.1588 0.669918 30.8566 1.59524 32.0673L26 64" stroke-width="1"/>
                        </svg>
                    .features__next.swiper-button-next
                        <svg width="26" height="65" viewBox="0 0 26 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L24.2335 26.8964C25.8382 28.685 25.9436 31.3623 24.4844 33.2715L1 64" stroke-width="1"/>
                        </svg>
