mixin form1()
    .form.brochure__form  
        .form__title Download brochure<br>in one click 
        .form__item 
            label(for="name1").form__item-label 
                span.form__item-svg
                    <svg width="19" height="23" viewBox="0 0 19 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16644 0.450201C7.70274 0.448252 6.28765 0.975338 5.1819 1.93435C4.07614 2.89335 3.35421 4.21967 3.14912 5.66893C2.94404 7.11818 3.26961 8.59273 4.06586 9.82089C4.86211 11.0491 6.07539 11.9481 7.48215 12.3523C5.48312 12.5951 3.7687 13.3016 2.47619 14.5757C0.832094 16.1947 0 18.6073 0 21.7548C0 21.9658 0.083786 22.168 0.232926 22.3172C0.382067 22.4663 0.584345 22.5501 0.795261 22.5501C1.00618 22.5501 1.20846 22.4663 1.3576 22.3172C1.50674 22.168 1.59052 21.9658 1.59052 21.7548C1.59052 18.8752 2.34895 16.933 3.59291 15.7075C4.83854 14.4803 6.70029 13.8441 9.16644 13.8441C11.6326 13.8441 13.4943 14.4803 14.7416 15.7075C15.9839 16.9347 16.7423 18.8752 16.7423 21.7548C16.7423 21.9658 16.8261 22.168 16.9753 22.3172C17.1244 22.4663 17.3267 22.5501 17.5376 22.5501C17.7485 22.5501 17.9508 22.4663 18.0999 22.3172C18.2491 22.168 18.3329 21.9658 18.3329 21.7548C18.3329 18.6073 17.5008 16.1964 15.855 14.5757C14.5658 13.3033 12.8498 12.5951 10.8507 12.3523C12.2528 11.9435 13.4606 11.0431 14.2527 9.81616C15.0448 8.58918 15.3681 7.11783 15.1635 5.67179C14.9589 4.22575 14.2399 2.9019 13.1385 1.94288C12.0371 0.98386 10.6269 0.453923 9.16644 0.450201ZM4.68786 6.5193C4.68786 5.33151 5.15971 4.19237 5.9996 3.35247C6.8395 2.51257 7.97864 2.04072 9.16644 2.04072C10.3542 2.04072 11.4934 2.51257 12.3333 3.35247C13.1732 4.19237 13.645 5.33151 13.645 6.5193C13.645 7.70709 13.1732 8.84624 12.3333 9.68614C11.4934 10.526 10.3542 10.9979 9.16644 10.9979C7.97864 10.9979 6.8395 10.526 5.9996 9.68614C5.15971 8.84624 4.68786 7.70709 4.68786 6.5193Z" fill="white" fill-opacity="0.4"/>
                    </svg>
                | Your name
            .form__item-input
                input(type="text" name="name" id="name1" required="true" placeholder="" autocomplete="off")
                .form__item-input-border 
                .form__item-input_correct 
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11.498" cy="10.5" r="10.5" fill="url(#paint0_linear_313_49)"/>
                        <path d="M7.45898 10.4998L10.2859 13.3267L15.9398 7.26904" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <defs>
                        <linearGradient id="paint0_linear_313_49" x1="9.33628" y1="-29.0769" x2="39.7036" y2="38.7451" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFA761"/>
                        <stop offset="1" stop-color="#C7825B"/>
                        </linearGradient>
                        </defs>
                    </svg>
        .form__item 
            label(for="email1").form__item-label 
                span.form__item-svg
                    <svg width="25" height="19" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22.0314 0.550293H3.23739C2.00171 0.550293 1 1.552 1 2.78768V16.212C1 17.4477 2.00171 18.4494 3.23739 18.4494H22.0314C23.2671 18.4494 24.2688 17.4477 24.2688 16.212V2.78768C24.2688 1.552 23.2671 0.550293 22.0314 0.550293Z" stroke="white" stroke-opacity="0.4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.58008 4.13037L12.6347 10.3951L20.6893 4.13037" stroke="white" stroke-opacity="0.4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                | Your email 
            .form__item-input
                input(type="email" id="email1" name="email" required="true" placeholder="" autocomplete="off")
                .form__item-input-border 
                .form__item-input_correct 
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11.498" cy="10.5" r="10.5" fill="url(#paint0_linear_313_49)"/>
                        <path d="M7.45898 10.4998L10.2859 13.3267L15.9398 7.26904" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <defs>
                        <linearGradient id="paint0_linear_313_49" x1="9.33628" y1="-29.0769" x2="39.7036" y2="38.7451" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFA761"/>
                        <stop offset="1" stop-color="#C7825B"/>
                        </linearGradient>
                        </defs>
                    </svg>
        .form__item 
            label(for="phone1").form__item-label 
                span.form__item-svg
                    <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.60724 0.558729L4.07151 0.12121C4.73806 -0.0782768 5.45502 -0.0303177 6.08854 0.256135C6.72206 0.542588 7.22885 1.04796 7.51429 1.6779L8.42549 3.68873C8.67102 4.23044 8.73942 4.8348 8.62109 5.41703C8.50275 5.99925 8.20363 6.53012 7.76569 6.93512L6.17352 8.40781C6.15385 8.42604 6.1377 8.44769 6.12589 8.47168C5.95917 8.80945 6.21233 9.71161 7.00533 11.0749C7.89977 12.6115 8.59044 13.2188 8.91064 13.1251L11.0003 12.4907C11.5726 12.3174 12.1852 12.326 12.7523 12.5154C13.3194 12.7048 13.8125 13.0655 14.1626 13.5469L15.4575 15.3258C15.864 15.8844 16.0523 16.5704 15.9875 17.2563C15.9226 17.9422 15.6089 18.5815 15.1047 19.0553L13.9906 20.1009C13.6032 20.465 13.1327 20.7306 12.6194 20.8752C12.1061 21.0198 11.5651 21.0391 11.0426 20.9313C7.94034 20.2908 5.16088 17.8127 2.68046 13.5513C0.199143 9.28722 -0.574448 5.65582 0.422311 2.66932C0.589163 2.16933 0.874886 1.71652 1.25534 1.34916C1.63579 0.981807 2.09978 0.710693 2.60812 0.558729H2.60724ZM2.99007 1.81528C2.68505 1.90642 2.40663 2.06905 2.17833 2.28943C1.95003 2.50982 1.77856 2.78148 1.6784 3.08146C0.819251 5.65494 1.51522 8.92408 3.82629 12.895C6.13559 16.8633 8.63896 19.0946 11.3117 19.6459C11.6253 19.7106 11.9501 19.699 12.2582 19.6122C12.5663 19.5253 12.8487 19.3658 13.0811 19.1471L14.1943 18.1023C14.4659 17.8473 14.635 17.5031 14.67 17.1337C14.705 16.7644 14.6037 16.395 14.3849 16.0941L13.09 14.3143C12.9015 14.0551 12.636 13.861 12.3307 13.759C12.0255 13.657 11.6957 13.6523 11.3875 13.7455L9.29258 14.3817C8.13352 14.7238 7.04326 13.7657 5.8595 11.7303C4.85656 10.0082 4.50902 8.76395 4.93772 7.89504C5.02063 7.72703 5.13354 7.57565 5.27115 7.44789L6.86331 5.9752C7.09922 5.75713 7.26036 5.47124 7.32412 5.15768C7.38787 4.84412 7.35104 4.51862 7.21879 4.22688L6.3076 2.21692C6.1539 1.87764 5.88096 1.60545 5.53976 1.45118C5.19856 1.29692 4.81242 1.27113 4.45345 1.37864L2.98919 1.81616L2.99007 1.81528Z" fill="white" fill-opacity="0.4"/>
                    </svg>
                | Your number 
            .form__item-input
                input(type="tel" id="phone1" name="phone" required="true" placeholder="" autocomplete="off")
                .form__item-input-border 
                .form__item-input_correct 
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11.498" cy="10.5" r="10.5" fill="url(#paint0_linear_313_49)"/>
                        <path d="M7.45898 10.4998L10.2859 13.3267L15.9398 7.26904" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <defs>
                        <linearGradient id="paint0_linear_313_49" x1="9.33628" y1="-29.0769" x2="39.7036" y2="38.7451" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFA761"/>
                        <stop offset="1" stop-color="#C7825B"/>
                        </linearGradient>
                        </defs>
                    </svg>

mixin form2()
    .form.consultation__form  
        .form__title Request a call
        .form__item 
            label(for="name2").form__item-label 
                span.form__item-svg
                    <svg width="19" height="23" viewBox="0 0 19 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16644 0.450201C7.70274 0.448252 6.28765 0.975338 5.1819 1.93435C4.07614 2.89335 3.35421 4.21967 3.14912 5.66893C2.94404 7.11818 3.26961 8.59273 4.06586 9.82089C4.86211 11.0491 6.07539 11.9481 7.48215 12.3523C5.48312 12.5951 3.7687 13.3016 2.47619 14.5757C0.832094 16.1947 0 18.6073 0 21.7548C0 21.9658 0.083786 22.168 0.232926 22.3172C0.382067 22.4663 0.584345 22.5501 0.795261 22.5501C1.00618 22.5501 1.20846 22.4663 1.3576 22.3172C1.50674 22.168 1.59052 21.9658 1.59052 21.7548C1.59052 18.8752 2.34895 16.933 3.59291 15.7075C4.83854 14.4803 6.70029 13.8441 9.16644 13.8441C11.6326 13.8441 13.4943 14.4803 14.7416 15.7075C15.9839 16.9347 16.7423 18.8752 16.7423 21.7548C16.7423 21.9658 16.8261 22.168 16.9753 22.3172C17.1244 22.4663 17.3267 22.5501 17.5376 22.5501C17.7485 22.5501 17.9508 22.4663 18.0999 22.3172C18.2491 22.168 18.3329 21.9658 18.3329 21.7548C18.3329 18.6073 17.5008 16.1964 15.855 14.5757C14.5658 13.3033 12.8498 12.5951 10.8507 12.3523C12.2528 11.9435 13.4606 11.0431 14.2527 9.81616C15.0448 8.58918 15.3681 7.11783 15.1635 5.67179C14.9589 4.22575 14.2399 2.9019 13.1385 1.94288C12.0371 0.98386 10.6269 0.453923 9.16644 0.450201ZM4.68786 6.5193C4.68786 5.33151 5.15971 4.19237 5.9996 3.35247C6.8395 2.51257 7.97864 2.04072 9.16644 2.04072C10.3542 2.04072 11.4934 2.51257 12.3333 3.35247C13.1732 4.19237 13.645 5.33151 13.645 6.5193C13.645 7.70709 13.1732 8.84624 12.3333 9.68614C11.4934 10.526 10.3542 10.9979 9.16644 10.9979C7.97864 10.9979 6.8395 10.526 5.9996 9.68614C5.15971 8.84624 4.68786 7.70709 4.68786 6.5193Z" fill="white" fill-opacity="0.4"/>
                    </svg>
                | Your name
            .form__item-input
                input(type="text" name="name" id="name2" required="true" placeholder="" autocomplete="off")
                .form__item-input-border 
                .form__item-input_correct 
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11.498" cy="10.5" r="10.5" fill="url(#paint0_linear_313_49)"/>
                        <path d="M7.45898 10.4998L10.2859 13.3267L15.9398 7.26904" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <defs>
                        <linearGradient id="paint0_linear_313_49" x1="9.33628" y1="-29.0769" x2="39.7036" y2="38.7451" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFA761"/>
                        <stop offset="1" stop-color="#C7825B"/>
                        </linearGradient>
                        </defs>
                    </svg>
        .form__item 
            label(for="email2").form__item-label 
                span.form__item-svg
                    <svg width="25" height="19" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22.0314 0.550293H3.23739C2.00171 0.550293 1 1.552 1 2.78768V16.212C1 17.4477 2.00171 18.4494 3.23739 18.4494H22.0314C23.2671 18.4494 24.2688 17.4477 24.2688 16.212V2.78768C24.2688 1.552 23.2671 0.550293 22.0314 0.550293Z" stroke="white" stroke-opacity="0.4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.58008 4.13037L12.6347 10.3951L20.6893 4.13037" stroke="white" stroke-opacity="0.4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                | Your email 
            .form__item-input
                input(type="email" id="email2" name="email" required="true" placeholder="" autocomplete="off")
                .form__item-input-border 
                .form__item-input_correct 
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11.498" cy="10.5" r="10.5" fill="url(#paint0_linear_313_49)"/>
                        <path d="M7.45898 10.4998L10.2859 13.3267L15.9398 7.26904" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <defs>
                        <linearGradient id="paint0_linear_313_49" x1="9.33628" y1="-29.0769" x2="39.7036" y2="38.7451" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFA761"/>
                        <stop offset="1" stop-color="#C7825B"/>
                        </linearGradient>
                        </defs>
                    </svg>
        .form__item 
            label(for="phone2").form__item-label 
                span.form__item-svg
                    <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.60724 0.558729L4.07151 0.12121C4.73806 -0.0782768 5.45502 -0.0303177 6.08854 0.256135C6.72206 0.542588 7.22885 1.04796 7.51429 1.6779L8.42549 3.68873C8.67102 4.23044 8.73942 4.8348 8.62109 5.41703C8.50275 5.99925 8.20363 6.53012 7.76569 6.93512L6.17352 8.40781C6.15385 8.42604 6.1377 8.44769 6.12589 8.47168C5.95917 8.80945 6.21233 9.71161 7.00533 11.0749C7.89977 12.6115 8.59044 13.2188 8.91064 13.1251L11.0003 12.4907C11.5726 12.3174 12.1852 12.326 12.7523 12.5154C13.3194 12.7048 13.8125 13.0655 14.1626 13.5469L15.4575 15.3258C15.864 15.8844 16.0523 16.5704 15.9875 17.2563C15.9226 17.9422 15.6089 18.5815 15.1047 19.0553L13.9906 20.1009C13.6032 20.465 13.1327 20.7306 12.6194 20.8752C12.1061 21.0198 11.5651 21.0391 11.0426 20.9313C7.94034 20.2908 5.16088 17.8127 2.68046 13.5513C0.199143 9.28722 -0.574448 5.65582 0.422311 2.66932C0.589163 2.16933 0.874886 1.71652 1.25534 1.34916C1.63579 0.981807 2.09978 0.710693 2.60812 0.558729H2.60724ZM2.99007 1.81528C2.68505 1.90642 2.40663 2.06905 2.17833 2.28943C1.95003 2.50982 1.77856 2.78148 1.6784 3.08146C0.819251 5.65494 1.51522 8.92408 3.82629 12.895C6.13559 16.8633 8.63896 19.0946 11.3117 19.6459C11.6253 19.7106 11.9501 19.699 12.2582 19.6122C12.5663 19.5253 12.8487 19.3658 13.0811 19.1471L14.1943 18.1023C14.4659 17.8473 14.635 17.5031 14.67 17.1337C14.705 16.7644 14.6037 16.395 14.3849 16.0941L13.09 14.3143C12.9015 14.0551 12.636 13.861 12.3307 13.759C12.0255 13.657 11.6957 13.6523 11.3875 13.7455L9.29258 14.3817C8.13352 14.7238 7.04326 13.7657 5.8595 11.7303C4.85656 10.0082 4.50902 8.76395 4.93772 7.89504C5.02063 7.72703 5.13354 7.57565 5.27115 7.44789L6.86331 5.9752C7.09922 5.75713 7.26036 5.47124 7.32412 5.15768C7.38787 4.84412 7.35104 4.51862 7.21879 4.22688L6.3076 2.21692C6.1539 1.87764 5.88096 1.60545 5.53976 1.45118C5.19856 1.29692 4.81242 1.27113 4.45345 1.37864L2.98919 1.81616L2.99007 1.81528Z" fill="white" fill-opacity="0.4"/>
                    </svg>
                | Your number 
            .form__item-input
                input(type="tel" id="phone2" name="phone" required="true" placeholder="" autocomplete="off")
                .form__item-input-border 
                .form__item-input_correct 
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11.498" cy="10.5" r="10.5" fill="url(#paint0_linear_313_49)"/>
                        <path d="M7.45898 10.4998L10.2859 13.3267L15.9398 7.26904" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <defs>
                        <linearGradient id="paint0_linear_313_49" x1="9.33628" y1="-29.0769" x2="39.7036" y2="38.7451" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFA761"/>
                        <stop offset="1" stop-color="#C7825B"/>
                        </linearGradient>
                        </defs>
                    </svg>
        button(type="submit" disabled="true").btn.form__btn Send