mixin header()
    header.header.container.hide  
        button.header__button.hover 
            span.header__button-line
        nav.header__nav 
            .header__title Navigation
            ul.header__list 
                li.header__li#aboutLink.active
                    a(href="#about").header__link.hover About 
                li.header__li#exteriorLink
                    a(href="#exterior").header__link.hover Exterior 
                li.header__li#interiorLink 
                    a(href="#interior").header__link.hover Interior 
                li.header__li#locationLink  
                    a(href="#location").header__link.hover Location 
                li.header__li#communityLink  
                    a(href="#community").header__link.hover Community 
                li.header__li#developerLink 
                    a(href="#developer").header__link.hover Developer 
            a(href="#!" data-target="#headerTel" data-tel="+998 97 999 99 99")#headerTel.hover.header__tel.shownumber +971 56 
                span xxx-xx-xx
