mixin header()
    header.header.container  
        nav.header__nav 
            ul.header__list 
                li.header__li.active
                    a(href="#about").header__link About 
                li.header__li 
                    a(href="#exterior").header__link Exterior 
                li.header__li 
                    a(href="#interior").header__link Interior 
                li.header__li 
                    a(href="#location").header__link Location 
                li.header__li 
                    a(href="#community").header__link Community 
                li.header__li 
                    a(href="#developer").header__link Developer 
            a(href="tel:+971564444444").header__tel +971 56 
                span xxx-xx-xx
