mixin intro()
    section.section.intro.afterWhite#intro(style="background: url('img/intro.png') center / cover no-repeat;")
        .intro__body.section__body.container 
            h1.intro__title ACACIA
            p.intro__p Astounding apartment complex at Dubai Hills Estate
            button(type='button').intro__btn.btn Register your interest