mixin location()
    section.section.location#location 
        .section__body.location__body
            h2.location__title.title Location
            .section__title 
                //- img(src="@img/l", alt="" draggable="false")