// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    // cursor: none;
    &::selection{
        background: #C7825B;
        color: #fff;
    }
    &:focus,
    &:active{
        outline: none;
    }
}
.swiper-slide-thumb-active{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 10px;
        z-index: 100;
        left: 10px;
        width: 10px;
        height: 10px;
        background: #E3945E;
        border-radius: 50%;
    }
}
html,
body{
    height: 100%;
}
.h200vh{
    height: 200vh;
}
.showmore{
    font-weight: 400;
    font-size: 14px;
    line-height: 177%;
    text-decoration-line: underline;
    color: #E5965F;
    &.sm{
        display: none;
        @include media(575){
            display: block;
        }
    }
}
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #343435;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 300ms ease-out;
    &__text{
        font-weight: 400;
        font-size: 72px;
        line-height: 88px;
        color: #FFFFFF;
        position: relative;
        padding-left: 47px;
        @include media(576){
            font-size: 40px;
            line-height: 120%;
        }
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #E3955E;
        }
    }
}
body{
    background: #1D1C1C;
    color: #fff;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
a{
    color: inherit;
}
ul{
    list-style-type: none;
}
.h100vh{
    height: 120vh;
}
.section{
    padding-top: 80px;
    @include media(992){
        padding-top: 50px;
    }
    &.gray{
        background: #343435;
        @include media(992){
            background: #1D1C1C;
        }
    }
    &.white{
        background: #fff;
        color: #000;
    }
    &__body{
        position: relative;
        min-height: 362px;
        isolation: isolate;
        padding-top: 45px;
        @include media(992){
            padding-top: 0;
            min-height: 0;
        }
    }
    &__title{
        position: absolute;
        top: 0px;
        left: -90px;
        z-index: -1;
        pointer-events: none;
        user-select: none;
        @include media(1400){
            left: 0;
        }
        @include media(992){
            display: none;
        }
    }
} 
.title{
    font-weight: 600;
    font-size: 72px;
    line-height: 88px;
    text-align: left;
    color: inherit;
    margin-bottom: 30px;
    @include media(992){
        font-size: 56px;
        line-height: 120%;
    }
    @include media(768){
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 20px;
    }
    span{
        background: linear-gradient(155.88deg, #FFA761 -83.36%, #C7825B 184.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}
.subtitle{
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    text-transform: capitalize;
    color: inherit;
    @include media(1200){
        font-size: 44px;
        line-height: 120%;
    }
    @include media(768){
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        text-align: center;
    }
    span{
        background: linear-gradient(155.88deg, #FFA761 -83.36%, #C7825B 184.44%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}
.type-cursor {
    display: inline-block;
    background-color: #fff;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
    height: 80%;
    &.blink {
        animation: blink 1000ms infinite !important;
    }
    &.typing {
        animation: none;
    }
}
.swiper{
    &-fade{
        transition-property: opacity;
    }
    &-pagination{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        &-bullet{
            background: #FFFFFF;
            opacity: 0.1;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            cursor: pointer;
            transition: 300ms ease-out;
            &-active{
                width: 15px;
                height: 15px;
                background: #E3945E;
                opacity: 1;
            }
        }
    }
    &-3d{
        perspective: 1200px;
        .swiper-wrapper{
            transform-style: preserve-3d;
            transform: translate3d(0px,0,0);
        }
    }
    &-navigation{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -90px;
        width: calc(100% + 180px);
        height: 63px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        pointer-events: none;
    }
    &-button{
        &-lock{
            opacity: 0;
            visibility: hidden;
        }
        &-prev{
            pointer-events: all;
            cursor: pointer;
            svg{
                &:hover{
                    path{
                        stroke: #FFA761;
                    }
                }
                &:active{
                    path{
                        stroke: #C7825B;
                    }
                }
                path{
                    stroke: white;
                    transition: 300ms ease-out;
                }
            }
        }
        &-next{
            pointer-events: all;
            cursor: pointer;
            svg{
                &:hover{
                    path{
                        stroke: #FFA761;
                    }
                }
                &:active{
                    path{
                        stroke: #C7825B;
                    }
                }
                path{
                    stroke: white;
                    transition: 300ms ease-out;
                }
            }
        }
    }
}
.btn{
    background: linear-gradient(155.88deg, #FFA761 -83.36%, #C7825B 184.44%);
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 300ms ease-out;
    padding: 0 14px;
    &[disabled="disabled"]{
        background: linear-gradient(155.88deg, #FDAA68 -83.36%, #D2AF9A 184.44%);
        cursor: auto;
    }
    &:not([disabled="disabled"]){
        position: relative;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            display: block;
            background: var(--ripple-background, white);
            border-radius: 50%;
            pointer-events: none;
            top: calc(var(--y) * 1px);
            left: calc(var(--x) * 1px);
            width: calc(var(--d) * 1px);
            height: calc(var(--d) * 1px);
            opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));
            transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);
            transform: translate(-50%, -50%) scale(var(--s, 1));
            transform-origin: center;
        }
    }
}
@keyframes blink {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.cursor{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #FDB57C;
    position: fixed;
    top: 5px;
    left: 5px;
    transform: translate(-100px, -100px);
    z-index: z('cursor');
    pointer-events: none;
}